<div class="side-card sticky">
  <div class="card-wrap" itemscope itemtype="http://schema.org/Person">
    <div class="author-avatar">
      <img class="avatar-img" src="<%= url_for(theme.avatar) %>" onerror="this.onerror=null;this.src='<%= url_for(theme.loading_bg.flink) %>'" alt="avatar">
    </div>
    <div class="author-discrip">
      <h3><%= config.author || theme.author %></h3>
      <p class="author-bio"><%= theme.author_bio %></p>
    </div>
    <div class="author-links">
      <button class="btn m-social-links">Links</button>
      <% function isExternalLink(link) {
           return /^(https?:)?\/\//.test(link) || /^(mailto|tel):/.test(link);
         }

         function toLink(link) {
           if (!link) return '';
           return isExternalLink(link) ? link : url_for(link);
         } %>
      <% if (theme.social && theme.social.enable) { %>
        <ul class="social-icons">
          <% (theme.social_links || []).forEach(function(link) {
               if (!link.enable) return;
               const isUrl = link.url && (isExternalLink(link.url) || link.url.charAt(0) === '/');
               const href = isUrl ? toLink(link.url) : '';
          %>
            <li>
              <% if (isUrl) { %>
                <a class="social-icon" href="<%= href %>" target="_blank">
                  <span class="social-icon-box">
                    <i class="<%= link.icon %>" aria-hidden="true"></i>
                  </span>
                </a>
              <% } else if (link.url) { %>
                <a class="social-icon social-value social-copy" href="#" data-value="<%= link.url %>" role="button" title="Click to copy">
                  <span class="social-icon-box">
                    <i class="<%= link.icon %>" aria-hidden="true"></i>
                  </span>
                </a>
              <% } else { %>
                <a class="social-icon" href="javascript:void(0)">
                  <span class="social-icon-box">
                    <i class="<%= link.icon %>" aria-hidden="true"></i>
                  </span>
                </a>
              <% } %>
            </li>
          <% }); %>
        </ul>
      <% } %>
      <% if (theme.e_social && theme.e_social.enable) { %>
        <ul class="social-links">
          <% (theme.e_social_links || []).forEach(function(link) {
               if (!link.enable) return;
               const href = toLink(link.url);
               const isUrl = !!(link.url && (isExternalLink(link.url) || link.url.charAt(0) === '/'));
          %>
            <li>
              <% if (isUrl) { %>
                <a class="e-social-link" href="<%= href %>" target="_blank">
                  <i class="<%= link.icon %>" aria-hidden="true"></i>
                  <span><%= link.name %></span>
                </a>
              <% } else { %>
                <span class="e-social-link">
                  <i class="<%= link.icon %>" aria-hidden="true"></i>
                  <span><%= link.name %></span>
                </span>
              <% } %>
            </li>
          <% }); %>
        </ul>
      <% } %>
    </div>
    <% if (theme.cv_dl && theme.cv_dl.enable) { %>
      <a class="cv-links" href="<%= url_for(theme.cv_dl.dir) %>" target="_blank">
        <i class="fas fa-file-pdf" aria-hidden="true"><span><%= theme.cv_dl.description %></span></i>
      </a>
    <% } %>
  </div>
</div>
